<div class="grid">
  <app-box [cellArray] = "sudokuArrayBoxwise[0]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[1]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[2]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[3]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[4]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[5]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[6]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[7]"></app-box>
  <app-box [cellArray] = "sudokuArrayBoxwise[8]"></app-box>
</div>
