<div class="box">
  <app-cell [defaultValue]="cellArray[0]"></app-cell>
  <app-cell [defaultValue]="cellArray[1]"></app-cell>
  <app-cell [defaultValue]="cellArray[2]" [borderRight]="true"></app-cell>
  <app-cell [defaultValue]="cellArray[3]"></app-cell>
  <app-cell [defaultValue]="cellArray[4]"></app-cell>
  <app-cell [defaultValue]="cellArray[5]" [borderRight]="true"></app-cell>
  <app-cell [defaultValue]="cellArray[6]" [borderBottom]="true"></app-cell>
  <app-cell [defaultValue]="cellArray[7]" [borderBottom]="true"></app-cell>
  <app-cell [defaultValue]="cellArray[8]" [borderRight]="true" [borderBottom]="true"></app-cell>
</div>
