.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-left: solid 1px;
  border-top: solid 1px;
}

input {
  width: 25.9px;
  height: 27.9px;
  font-size: 24px;
  text-align: center;
  border: solid 0px;
  margin: solid 0px;
  padding: solid 0px;
  color: darkblue
}

.border-right {
  border-right: solid 1px;
}
.border-bottom {
  border-bottom: solid 1px;
}