.cell {
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-left: solid 1px;
  border-top: solid 1px;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  text-align: center;
}

input {
  width: 30px;
  height: 30px;
  font-size: 24px;
  text-align: center;
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: darkblue
}

.border-right {
  border-right: solid 1px;
}
.border-bottom {
  border-bottom: solid 1px;
}