.cell {
  flex-wrap: wrap;
  width: 9.4vmin;
  height: 9.4vmin;
  background-color: rgb(201, 225, 240);
  border-left: solid 0.45vmin;
  border-top: solid 0.45vmin;
  margin: 0px;
  padding: 0px;
  font-size: 8vmin;
  text-align: center;
}

.border-right {
  border-right: solid 1px;
}
.border-bottom {
  border-bottom: solid 1px;
}

